.home {
  .topContent {
    height: 200px;
    width: calc(100% - 40px);
    background-color: #1677ff;
    border-radius: 10px;
    margin: 15px 20px;
    line-height: 200px;
    color: #fff;
    font-size: 40px;
    text-align: center;
  }

  .at-form::after {
    border-top: 0;
  }
  .at-list::after {
    border: 0;
  }
  .at-button--primary {
    background-color: #1677ff;
    border-color: #1677ff;
  }
  button[type="primary"] {
    background-color: #1677ff;
    // border-color: #1677ff;
  }
  .title {
    border-left: 6px solid #1677ff;
    padding-left: 10px;
    margin: 20px 0;
    font-size: 30px;
    color: #6a6a77;
    margin-left: 32px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
  }
  .btn-item {
    margin-bottom: 15px;
    padding: 0 32px;
  }
  .unit {
    padding: 0 32px;
    color: #333333;
  }
}
