.my {
  border: 0;
  .tabs {
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 32px;
  }
  .content {
    margin-top: 100px;
  }
  .box-title {
    border-left: 6px solid #1677ff;
    padding-left: 10px;
    margin: 20px 0;
    font-size: 30px;
    color: #6a6a77;
    margin-left: 32px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
  }
}
